name: Build Nuitka Binary

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install nuitka

      - name: Compile Binary with Nuitka
        run: |
          mkdir -p build
          nuitka \
            --onefile \
            --follow-imports \
            --lto=yes \
            --python-flag=no_docstrings \
            --static-libpython=no \
            --include-data-dir=src/weights=weights \
            --remove-output \
            --output-dir=build \
            src/main.py


      - name: Rename Binary
        run: |
          mv build/main.bin build/headpose

      - name: Upload Binary Artifact
        uses: actions/upload-artifact@v3
        with:
          name: headpose_binary
          path: build/headpose
