name: Build Headpose Keyring

on:
  push:
    branches: [ main ]
    paths:
      - "headpose-keyring/**"
      - "keys/public.asc"
      - ".github/workflows/build-keyring.yml"

  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: headpose-keyring-release
  cancel-in-progress: false

jobs:
  build-keyring:
    runs-on: ubuntu-latest

    env:
      VERSION: "1.0.0"
      KEYRING_PKG_NAME: headpose-keyring

    steps:
      - uses: actions/checkout@v4

      - name: Install gnupg
        run: sudo apt-get update && sudo apt-get install -y gnupg

      - name: Build keyring DEB
        run: |
          KEYRING_DIR=${KEYRING_PKG_NAME}_${VERSION}_all

          mkdir -p ${KEYRING_DIR}
          mkdir -p ${KEYRING_DIR}/DEBIAN
          mkdir -p ${KEYRING_DIR}/usr/share/keyrings
          mkdir -p ${KEYRING_DIR}/etc/apt/sources.list.d
          mkdir -p ${KEYRING_DIR}/etc/apt/preferences.d

          cat <<EOF > ${KEYRING_DIR}/DEBIAN/control
          Package: headpose-keyring
          Version: ${VERSION}
          Section: utils
          Priority: optional
          Architecture: all
          Maintainer: Sayantan Dey <iamsayantandey007@gmail.com>
          Description: Headpose APT keyring
           Contains the GPG key to verify headpose packages.
          EOF

          gpg --dearmor < keys/public.asc > \
            ${KEYRING_DIR}/usr/share/keyrings/headpose-repo-keyring.gpg

          echo "deb [signed-by=/usr/share/keyrings/headpose-repo-keyring.gpg] http://172.14.3.41:8000 stable main" \
            > ${KEYRING_DIR}/etc/apt/sources.list.d/headpose.list

          echo -e "Package: headpose\nPin: release o=HeadPose\nPin-Priority: 600" \
            > ${KEYRING_DIR}/etc/apt/preferences.d/headpose

          dpkg-deb --build ${KEYRING_DIR}

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: keyring-v${{ env.VERSION }}
          name: Headpose Keyring v${{ env.VERSION }}
          files: headpose-keyring_${{ env.VERSION }}_all.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
